<h1>Clients</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 5%">Id</th>
      <th style="width: 30%">Name</th>
      <th style="width: 5%"></th>
    </tr>
  </thead>
  <tbody>
    <!--<tr *ngFor="let client of clients">
      <td>{{client.id}}</td>
      <td>{{client.name}}</td>
      <td>{{client.email}}</td>
      <td>{{client.address}}</td>

      <td style="white-space: nowrap">
      </td>
    </tr>
    <tr *ngIf="!users">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>-->
  </tbody>
</table>
