<nav class="navbar navbar-expand navbar-light navbar-dark bg-primary">
  <a class="navbar-brand" href="#">TestARK</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/houses" routerLinkActive="active">Houses</a>
    <a class="nav-item nav-link" routerLink="/clients" routerLinkActive="active">Clients</a>
    <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Products</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>
